[submodule "engine"]
	path = engine
	url = https://github.com/TemariVirus/Budget-Tetris-Engine.git
[submodule "bot"]
	path = bot
	url = https://github.com/TemariVirus/Budget-Tetris-Bot.git
[submodule "assets"]
	path = assets
	url = https://github.com/TemariVirus/Budget-Tetris-Assets.git
