################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Release/net6.0-windows/NNs
/bin/Debug/net6.0-windows
